@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Hello! My name is Luiz Henrique Trinca Caldo! I'm a Brazillian and I love programming! Thanks for visiting!</p>

In this project, you can create your own local database based on SQLite and register your products. <br />
I used this project to understand and study the basics of ASP.NET and C#. Also, how to add a little database operations to it. <br /> <br />

<p>Feel free follow me on my socials:</p>

<a href=https://www.linkedin.com/in/luiz-henrique-trinca-caldo-34034a189/>LinkedIn</a> <br />
<a href="https://github.com/luizhtc">GitHub</a> <br />